<nav class="navbar navbar-expand-md navbar-danger bg-light">
    <a class="navbar-brand" routerLink="#"></a>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <!-- <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            
            <li class="nav-item" >
                <a class="nav-link" routerLink="/getallBooks">List All Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/search">Search Book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/getallBooks">Request</a>
            </li>
            
        </ul> -->

    </div>
</nav>