<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="col-md-4 offset-4 card-body mt-5">
        <form #form="ngForm" (ngSubmit)="borrowBook(form)">
            <div class="card border-info">
                <img class="card-img-top" src="holder.js/100px180/" alt="">
                <div class="card-body">


                    <div class="form-group">
                        <label for="userId">Enter Username</label>
                        <input type="text" name="username" id="userId" class="form-control" placeholder="Enter User Id "
                            ngModel>
                    </div>
                    <h1> OR </h1>
                    <div class="form-group">
                        <label for="bookName">Enter Book Id</label>
                        <input type="text" name="bookId" id="bookName" class="form-control"
                            placeholder="Enter Book Name " ngModel>
                    </div>
                    <button type="submit" class="btn btn-primary">Borrow Book</button>
                </div>
            </div>


        </form>
    </div>

</body>
</html>
