<!-- <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/add-book">Add-Book</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/add-user">Add-User</a>
    </li> -->




<nav class="navbar navbar-expand-md navbar-danger bg-light">
    <a class="navbar-brand" routerLink="#"></a>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <!-- <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/"></a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" routerLink="/add-book">Add Book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/add-user">Add User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/show-all-user">Show All User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/get-by-id">Get User By Id</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/delete-user">Delete User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/delete-book">Delete Book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/update-user">Update User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/update-user">Accept request</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/update-user">delete request</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/update-user">request view</a>
            </li>
        </ul> -->

    </div>
</nav>