<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h5 style="text-align: center; color: red;">{{message}}</h5>
    <div class="col-md-4 offset-4 card-body mt-5">
        <form #form="ngForm" (ngSubmit)="deleteBook(form)">
            <div class="card border-info">
                <img class="card-img-top" src="holder.js/100px180/" alt="">
                <div class="card-body">

                    <div class="form-group">
                        <label for="bookId">Enter Delete Book Id</label>
                        <input type="number" name="bookId" id="bookId" class="form-control"
                            placeholder="Enter Delete Book Id " ngModel>
                    </div>



                    <button type="submit" class="btn btn-primary">Delete Book</button>

                </div>
            </div>
        </form>
    </div>
</body>

</html>